openapi: 3.0.1
info:
  contact:
    url: https://developer.myptv.com/
  description: "With the Routing service you can calculate routes from A to B taking\
    \ into account vehicle-specific restrictions, traffic situations, toll, emissions,\
    \ drivers' working hours, service times and opening intervals."
  title: Routing
  version: "1.37"
servers:
- url: https://api.myptv.com/routing/v1
security:
- apiKeyAuth: []
tags:
- name: Routing
- name: Reachable Areas
- name: Reachable Locations
paths:
  /routes:
    get:
      description: Calculates a route by specifying a list of waypoints.
      operationId: calculateRoute
      parameters:
      - description: "The list of waypoints the route will be calculated for. At least\
          \ two waypoints are necessary, a maximum number may apply according to your\
          \ subscription.\nThe first waypoint is the start and the last is the destination\
          \ of the route.\nAdditional intermediate waypoints are possible.  \nThe\
          \ format of each waypoint is `<lat>,<lon>[;<attribute>;<attribute>;...]`\n\
          representing a point with the latitude value in degrees from south to north\n\
          and the longitude value in degrees (WGS84/EPSG:4326) from west to east.\n\
          This point will be matched to the nearest possible road.  \nBy default the\
          \ air-line connection between given and matched coordinates is not included\
          \ in the route polyline, distance and duration.\nWe will refer to this type\
          \ of waypoint as an _on-road waypoint_.\n\nThe behaviour of a waypoint can\
          \ be changed by appending the following attributes:  \n * `includeLastMeters`\
          \ to include the air-line connection between given and matched coordinates\
          \ in the route polyline, distance and duration.\n We will refer to this\
          \ type of waypoint as an _off-road waypoint_.\n * `roadAccess=<lat>,<lon>`,\
          \ to use these coordinates for matching to the nearest road. Implies **includeLastMeters**,\
          \ i.e.\n the air-line connection between the waypoint coordinates and the\
          \ matched coordinates\n is included in the route polyline, distance and\
          \ duration. This is useful if the waypoint should not be matched to the\
          \ nearest possible road but to some road further away,\n e.g. garage exit\
          \ at a different road.\n * `matchSideOfStreet`, specifies that this waypoint\
          \ will be reached at the side of street on which it is located.\n This is\
          \ useful to prevent the driver from crossing the street to actually reach\
          \ the location represented by this waypoint.\n * `radius=<distance>`, influences\
          \ the route path, so that the route passes an area defined by the given\
          \ radius [m] (integer value).\n This waypoint will not appear as a waypoint\
          \ event in the response and may not be used as start and destination.\n\
          \ `radius` must be > 0 and is not compatible with any other attribute on\
          \ the same waypoint except for `name`.\n We will refer to this type of waypoint\
          \ as a _route-manipulation waypoint_.\n * `name=<name of waypoint>`, is\
          \ an identifier to reference this waypoint in the response.\n * In order\
          \ to influence the route path so that the route uses a specific ferry or\
          \ railway connection between two locations the waypoint is formatted as\
          \ follows:\n `combinedTransport=<lat>,<lon>,<lat>,<lon>`. Both locations\
          \ will be matched to the nearest ports looking for a direct connection.\n\
          \ If no connection can be found, this waypoint will be ignored, and the\
          \ warning _ROUTING_COMBINED_TRANSPORT_WAYPOINT_IGNORED_ will be returned.\n\
          \ If more than one connection is found, the best one will be used,\n and\
          \ the alternative connections will be returned in the response in a warning\
          \ _ROUTING_COMBINED_TRANSPORT_WAYPOINT_AMBIGUOUS_.\n This waypoint will\
          \ not appear as a waypoint event in the response and may not be used as\
          \ start or destination.\n We will refer to this type of waypoint as a _combined-transport\
          \ waypoint_.\n\n See [here](./concepts/waypoints) for more information."
        example:
        - "49.01318,8.4279;name=Start "
        - "49.01835,8.36881;includeLastMeters "
        - "49.03543,8.39475;radius=1000 "
        - "49.06560,8.47087;roadAccess=49.06568,8.47184 "
        - "49.06560,8.47087;matchSideOfStreet "
        - "combinedTransport=54.5009693,11.2273406,54.6604379,11.3608932 "
        explode: true
        in: query
        name: waypoints
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Instead of the waypoint mentioned above, a **routeId** from a previously calculated route or a matched track can be entered.
          More information and applying restrictions can be found [here](./concepts/route-ids).
        example: 3a58b824-fa8b-47eb-a5b8-73d6b753e1b4
        explode: true
        in: query
        name: routeId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "A profile defines a vehicle by a set of attributes, matching\
          \ typical transport situations.\nIt must be the name of one of the [predefined\
          \ profiles](../data-api/concepts/profiles) such as _EUR_TRAILER_TRUCK_.\n\
          \nIf this parameter is not specified and the first waypoint or the routeId\
          \ is located in the Americas,\n_USA_8_SEMITRAILER_5AXLE_ is used as the\
          \ default instead of _EUR_TRAILER_TRUCK_.\n\nIf the first waypoint or the\
          \ routeId is located in the Americas but a non-American profile is specified\
          \ or vice-versa, a warning is returned (routing only).\nAlways use a profile\
          \ which matches the region of the waypoints to obtain best results.\n\n\
          If the attributes of the profile do not fit to your vehicle, the values\
          \ can be changed by the corresponding attributes in the **vehicle** parameter\
          \ (routing only). \nThe values of the predefined profiles may be adapted\
          \ to reflect current vehicle standards. To obtain the same results when\
          \ values change, it is recommended to \nalways send with the request the\
          \ **vehicle** parameters that are important for your use case."
        explode: true
        in: query
        name: profile
        required: false
        schema:
          $ref: "#/components/schemas/Profile"
        style: form
      - description: |-
          Physical and legal properties of the vehicle such as its dimensions to override the values of the selected **profile**.

          These parameters will be ignored for non-motorized profiles such as _BICYCLE_ or _PEDESTRIAN_.
          Unsupported parameters such as **electricityType** for combustion vehicles should not be specified in the request.

          Use array notation like `vehicle[emissionStandard]=EURO_5` to set vehicle attributes.
        explode: true
        in: query
        name: vehicle
        required: false
        schema:
          $ref: "#/components/schemas/Vehicle"
        style: deepObject
      - description: |-
          Routing-relevant options like date of travel or the use of additional data.
          Use array notation like `options[trafficMode]=AVERAGE` to set options.
        explode: true
        in: query
        name: options
        required: false
        schema:
          $ref: "#/components/schemas/Options"
        style: deepObject
      - description: "Relevant options to report emissions.\nUse array notation like\
          \ `emissionOptions[calculationMethods]=ISO14083_2023` to set options.\n\n\
          This parameter supersedes emission-related values in **results**. \nIf specified\
          \ the emission-related values in **results** will be ignored."
        explode: true
        in: query
        name: emissionOptions
        required: false
        schema:
          $ref: "#/components/schemas/EmissionOptions"
        style: deepObject
      - description: |-
          Relevant options to report the monetary costs of a route when _MONETARY_COSTS_ are requested in the **results**.
          Used for monetary cost routing when **options[routingMode]=MONETARY** is set.
          The costs have to be specified in the currency that is set in **options[currency]**.
        explode: true
        in: query
        name: monetaryCostOptions
        required: false
        schema:
          $ref: "#/components/schemas/MonetaryCostOptions"
        style: deepObject
      - description: "Comma-separated list that defines which results will be returned.\n\
          \n**Main results:**\n * `ROUTE_ID`\n    Response includes the route ID.\
          \ See [here](./concepts/route-ids) for more information.\n * `POLYLINE`\n\
          \    Response includes the complete **polyline** of the entire route in\
          \ the format specified by **options[polylineFormat]**.\n * `LEGS`\n    Response\
          \ includes information about the route **legs** defined as the parts of\
          \ the route between two consecutive waypoints.\n * `LEGS_POLYLINE`\n   \
          \ Response includes the **polyline** of each of the **legs** in the format\
          \ specified by **options[polylineFormat]**. _LEGS_ will automatically be\
          \ included.\n * `ALTERNATIVE_ROUTES`\n    Response includes up to three\
          \ alternatives in addition to the optimal route. \n    Not supported, if\
          \ more than two on-road or off-road waypoints are specified or if **options[routingMode]=MONETARY**\
          \ is specified.\n    Please note that the additional calculations will degrade\
          \ the performance.  \n * `GUIDED_NAVIGATION`\n    Response includes the\
          \ guided navigation information for the [PTV Navigator](https://www.myptv.com/en/logistics-software/ptv-navigator).\
          \  \n    See [here](./concepts/guided-navigation) for more information.\n\
          \ * `MONETARY_COSTS`\n    Response includes a report with monetary costs\
          \ for the route. See [here](./concepts/monetary-costs) for more information.\n\
          \n**Toll-related results:**\n * `TOLL_COSTS`\n    Response includes the\
          \ toll **costs** of the route.\n * `TOLL_SECTIONS`\n    Response includes\
          \ the list of toll **sections** defined by the toll operators.\n * `TOLL_SYSTEMS`\n\
          \    Response includes the list of toll **systems** defined by the toll\
          \ operators.\n * `TOLL_EVENTS`\n    Response includes **events** when a\
          \ toll road is entered, exited or a toll booth is passed.\n\n**Events:**\n\
          \ * `MANEUVER_EVENTS`\n    Response includes **events** for a **maneuver**\
          \ when the driver has to take an action, e.g. turn left or right.\n * `BORDER_EVENTS`\n\
          \    Response includes **events** when a **border** of a country or subdivision\
          \ is crossed by the route.\n * `VIOLATION_EVENTS`\n    Response includes\
          \ **events** when the route contains a **violation**, e.g. entering or exiting\
          \ an area where passing with the current vehicle is prohibited.\n * `VIOLATION_EVENTS_POLYLINE`\n\
          \    The response contains the **polyline** of each route violation. _VIOLATION_EVENTS_\
          \ will automatically be included.\n * `WAYPOINT_EVENTS`\n    Response includes\
          \ **events** when a **waypoint** is reached by the route.\n * `UTC_OFFSET_CHANGE_EVENTS`\n\
          \    Response includes **events** when the offset to UTC changes (**utcOffsetChange**).\n\
          \ * `COMBINED_TRANSPORT_EVENTS`\n    Response includes **events** when a\
          \ combined transport is entered or exited.\n * `TRAFFIC_EVENTS`\n    Response\
          \ includes **events** when a traffic incident such as a traffic jam is reached\
          \ by the route.\n * `TRAFFIC_EVENTS_POLYLINE`\n    The response contains\
          \ the **polyline** of each traffic event. _TRAFFIC_EVENTS_ will automatically\
          \ be included.\n * `LOW_EMISSION_ZONE_EVENTS` \n    Response includes **events**\
          \ when a low-emission zone is entered or exited by the route.\n * `DELIVERY_ONLY_EVENTS`\
          \ \n    Response includes **events** when a road prohibited except for delivery\
          \ vehicles is entered or exited by the route.\n * `DELIVERY_ONLY_EVENTS_POLYLINE`\n\
          \    The response contains the **polyline** of each delivery-only event.\
          \ _DELIVERY_ONLY_EVENTS_ will automatically be included.\n\n**Emission-related\
          \ results:**\n\nThese results are superseded by the parameter **emissionOptions**.\
          \ \nIf **emissionOptions** is specified the emission-related results will\
          \ be ignored.\n * `EMISSIONS_EN16258_2012`\n    Response includes information\
          \ on **emissions** (**EN16258_2012**) calculated according to EN16258 from\
          \ 2012 (a.k.a. CEN) based on the total fuel consumption for this route.\n\
          \    Only vehicles with **engineType** _COMBUSTION_ and **fuelType** _GASOLINE_,\
          \ _DIESEL_, _COMPRESSED_NATURAL_GAS_ or _LIQUEFIED_PETROLEUM_GAS_ are supported.\n\
          \    For _GASOLINE_ and _DIESEL_, an arbitrary **bioFuelRatio** is supported.\n\
          \    This is a European emission calculation method which should only be\
          \ used with [European profiles](../data-api/concepts/profiles).\n    This\
          \ result is mutually exclusive with **EMISSIONS_EN16258_2012_HBEFA**.\n\
          \ * `EMISSIONS_EN16258_2012_HBEFA`\n    Response includes information on\
          \ **emissions** (**EN16258_2012**) calculated according to EN 16258 from\
          \ 2012 (a.k.a. CEN) based on the total fuel consumption for this route\n\
          \    which is automatically calculated through HBEFA 4.2. The **averageFuelConsumption**\
          \ will be ignored.\n    This is a European emission calculation method which\
          \ should only be used with [European profiles](../data-api/concepts/profiles).\n\
          \    Supported vehicles are the same as those of _EMISSIONS_EN16258_2012_.\n\
          \    This result is mutually exclusive with **EMISSIONS_EN16258_2012**.\n\
          \ * `EMISSIONS_ISO14083_2022`\n    Draft version of ISO 14083:2023. See\
          \ **EMISSIONS_ISO14083_2023** for more information.\n * `EMISSIONS_ISO14083_2022_DEFAULT_CONSUMPTION`\n\
          \    Draft version of ISO 14083:2023. See **EMISSIONS_ISO14083_2023_DEFAULT_CONSUMPTION**\
          \ for more information.\n * `EMISSIONS_ISO14083_2023`\n    Response includes\
          \ information on **emissions** (**ISO14083_2023**) calculated according\
          \ to ISO 14083:2023 (a.k.a. ISO) based on the total fuel and electricity\
          \ consumption for this route.\n    Only supported for [European and American\
          \ profiles](../data-api/concepts/profiles). Emissions are calculated using\
          \ the respective factors.\n    All fuel and electricity types are supported,\
          \ for _GASOLINE_ and _DIESEL_ an arbitrary **bioFuelRatio** is supported.\n\
          \    For **engineType** _HYBRID_ or **engineType** _COMBUSTION_ with **fuelType**\
          \ _CNG_GASOLINE_ or _LPG_GASOLINE_, an arbitrary **hybridRatio** is supported.\n\
          \    This result is mutually exclusive with all other ISO14083 calculations.\n\
          \ * `EMISSIONS_ISO14083_2023_DEFAULT_CONSUMPTION`\n    Response includes\
          \ information on **emissions** (**ISO14083_2023**) calculated according\
          \ to ISO 14083:2023 (a.k.a. ISO) for based on the default fuel and electricity\
          \ consumption for this route\n    which is automatically calculated through\
          \ HBEFA 4.2. The **averageFuelConsumption** and **averageElectricityConsumption**\
          \ will be ignored.\n    Only supported for [European profiles](../data-api/concepts/profiles).\
          \ Emissions are calculated using the European factors.\n    Supported vehicles\
          \ are the same as those of _EMISSIONS_ISO14083_2023_.\n    This result is\
          \ mutually exclusive with all other ISO14083 calculations.\n * `EMISSIONS_FRENCH_CO2E_DECREE_2017_639`\n\
          \    Response includes information on **emissions** (**French_CO2e_Decree_2017_639**)\
          \ calculated according to the French CO2E decree from 2017 based on the\
          \ total fuel consumption for this route.\n    Only vehicles with **engineType**\
          \ _COMBUSTION_ and **fuelType** _GASOLINE_, _DIESEL_, _COMPRESSED_NATURAL_GAS_\
          \ or _LIQUEFIED_PETROLEUM_GAS_ are supported.\n    For _GASOLINE_ a **bioFuelRatio**\
          \ of _0_, _10_ and _85_ is supported, for _DIESEL_ _0_ and _30_.\n    This\
          \ is a European emission calculation method which should only be used with\
          \ [European profiles](../data-api/concepts/profiles).\n\n**Results available\
          \ only in the POST operation:**\n * `SCHEDULE_EVENTS`\n    We recommend\
          \ to additionally request _WAYPOINT_EVENTS_ to assign service and recreation\
          \ events to the waypoint at which they take place, in particular to distinguish\
          \ them when there are several waypoints at the same location.\n    Response\
          \ includes **events** when the driver takes a break or a rest, performs\
          \ service or waits for a waypoint to open (**schedule**).\n * `SCHEDULE_EVENTS_WITH_DRIVING`\n\
          \    Response includes **events** when the driver drives, takes a break\
          \ or a rest, performs service or waits for a waypoint to open (**schedule**).\
          \ _SCHEDULE_EVENTS_ will automatically be included.\n    We recommend to\
          \ additionally request _WAYPOINT_EVENTS_ to assign service and recreation\
          \ events to the waypoint at which they take place, in particular to distinguish\
          \ them when there are several waypoints at the same location.\n * `SCHEDULE_REPORT`\n\
          \    Response includes the **scheduleReport** which provides an overview\
          \ of the times of the schedule of this route including break and rest times.\n\
          \ * `EV_REPORT`\n    Response includes a report with detailed electricity\
          \ consumption for electric vehicles for the route and, if they are requested,\
          \ for legs. This is only available for concrete models of electric vehicles\
          \ but not for general routing profiles (see documentation of **profile**).\
          \ This result is in a preview state, the API is stable, feature changes\
          \ could be introduced in future.\n * `EV_STATUS_EVENTS`\n    Response includes\
          \ events reporting the electricity consumption along the route in more detail.\
          \ This is only available for concrete models of electric vehicles but not\
          \ for general routing profiles (see documentation of **profile**). This\
          \ result is in a preview state, the API is stable, feature changes could\
          \ be introduced in future.\n * `EV_STATUS_EVENTS_POLYLINE`\n    Response\
          \ includes the polyline for each **evStatus**-event since the previous **evStatus**-event.\
          \ _EV_STATUS_EVENTS_ will automatically be included. This is only available\
          \ for concrete models of electric vehicles but not for general routing profiles\
          \ (see documentation of **profile**). This result is in a preview state,\
          \ the API is stable, feature changes could be introduced in future.\n *\
          \ `EV_CHARGE_EVENTS`\n    Response includes events proposing where the battery\
          \ of the electric vehicle should be charged. The charging time is a proposal,\
          \ currently for information only. It is not included in the travel time\
          \ of the route and the start time of subsequent events is not offset by\
          \ it. This is only available for concrete models of electric vehicles but\
          \ not for general routing profiles (see documentation of **profile**). This\
          \ result is in a preview state, the API is stable, feature changes could\
          \ be introduced in future.\n\n_TOLL_COSTS_, _TOLL_SECTIONS_, _TOLL_SYSTEMS_\
          \ and _TOLL_EVENTS_ will be ignored for non-motorized profiles such as _BICYCLE_\
          \ or _PEDESTRIAN_.\nFor electric vehicles and non-motorized profiles such\
          \ as _BICYCLE_ or _PEDESTRIAN_ all emission values will be 0."
        example:
        - POLYLINE
        - TOLL_EVENTS
        explode: false
        in: query
        name: results
        required: false
        schema:
          items:
            $ref: "#/components/schemas/Results"
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteResponse"
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Routing
    post:
      description: Calculates a route by specifying a list of waypoints taking into
        account opening intervals and working hours.
      operationId: calculateRoutePost
      parameters:
      - description: "A profile defines a vehicle by a set of attributes, matching\
          \ typical transport situations.\nIt must either be the name of one of the\
          \ [predefined profiles](../data-api/concepts/profiles) such as _EUR_TRAILER_TRUCK_\
          \ or a UUID of a predefined [vehicle model](../data-api/code-samples/vehicle-models)\
          \ from the Data API.\n\nIf this parameter is not specified and the first\
          \ waypoint or the routeId is located in the Americas,\n_USA_8_SEMITRAILER_5AXLE_\
          \ is used as the default instead of _EUR_TRAILER_TRUCK_.\n\nIf the first\
          \ waypoint or the routeId is located in the Americas but a non-American\
          \ profile is specified or vice-versa, a warning is returned (routing only).\n\
          Always use a profile which matches the region of the waypoints to obtain\
          \ best results.\n\nIf a model of an electric vehicle is used, the electricity\
          \ consumption of the concrete vehicle model can be calculated.\nSome parameters\
          \ like **vehicle[engineType]** cannot be used with a model of an electric\
          \ vehicle.\nThose parameters are automatically filled as applicable from\
          \ the selected model. \nPlease refer to the [concept](./concepts/model-based-ev-consumption-calculation)\
          \ to see specifically which parameters are not compatible.\nThese vehicle\
          \ model profiles are in a preview state, the API is stable, feature changes\
          \ could be introduced in future.\n\nIf the attributes of the profile do\
          \ not fit to your vehicle, the values can be changed by the corresponding\
          \ attributes in the **vehicle** parameter (routing only). \nThe values of\
          \ the predefined profiles may be adapted to reflect current vehicle standards.\
          \ To obtain the same results when values change, it is recommended to \n\
          always send with the request the **vehicle** parameters that are important\
          \ for your use case."
        explode: true
        in: query
        name: profile
        required: false
        schema:
          $ref: "#/components/schemas/Profile"
        style: form
      - description: |-
          Physical and legal properties of the vehicle such as its dimensions to override the values of the selected **profile**.

          These parameters will be ignored for non-motorized profiles such as _BICYCLE_ or _PEDESTRIAN_.
          Unsupported parameters such as **electricityType** for combustion vehicles should not be specified in the request.

          Use array notation like `vehicle[emissionStandard]=EURO_5` to set vehicle attributes.
        explode: true
        in: query
        name: vehicle
        required: false
        schema:
          $ref: "#/components/schemas/Vehicle"
        style: deepObject
      - description: |-
          Options regarding the drivers' working hours.
          If no driver object with a working hours preset is passed with the request, working hours will be unlimited.
        explode: true
        in: query
        name: driver
        required: false
        schema:
          $ref: "#/components/schemas/Driver"
        style: deepObject
      - description: |-
          Routing-relevant options like date of travel or the use of additional data.
          Use array notation like `options[trafficMode]=AVERAGE` to set options.
        explode: true
        in: query
        name: options
        required: false
        schema:
          $ref: "#/components/schemas/Options"
        style: deepObject
      - description: "Relevant options to report emissions.\nUse array notation like\
          \ `emissionOptions[calculationMethods]=ISO14083_2023` to set options.\n\n\
          This parameter supersedes emission-related values in **results**. \nIf specified\
          \ the emission-related values in **results** will be ignored."
        explode: true
        in: query
        name: emissionOptions
        required: false
        schema:
          $ref: "#/components/schemas/EmissionOptions"
        style: deepObject
      - description: |-
          Relevant options to report the monetary costs of a route when _MONETARY_COSTS_ are requested in the **results**.
          Used for monetary cost routing when **options[routingMode]=MONETARY** is set.
          The costs have to be specified in the currency that is set in **options[currency]**.
        explode: true
        in: query
        name: monetaryCostOptions
        required: false
        schema:
          $ref: "#/components/schemas/MonetaryCostOptions"
        style: deepObject
      - description: |-
          Relevant options to report the electricity consumption of an electric vehicle along a route when _EV_REPORT_, _EV_STATUS_EVENTS_, _EV_STATUS_EVENTS_POLYLINE_ or _EV_CHARGE_EVENTS_ are requested in the **results**.
          Use array notation like `evOptions[initialStateOfCharge]=100` to set options.

          This parameter is in a preview state, the API is stable, feature changes could be introduced in future.
        explode: true
        in: query
        name: evOptions
        required: false
        schema:
          $ref: "#/components/schemas/EvOptions"
        style: deepObject
      - description: "Comma-separated list that defines which results will be returned.\n\
          \n**Main results:**\n * `ROUTE_ID`\n    Response includes the route ID.\
          \ See [here](./concepts/route-ids) for more information.\n * `POLYLINE`\n\
          \    Response includes the complete **polyline** of the entire route in\
          \ the format specified by **options[polylineFormat]**.\n * `LEGS`\n    Response\
          \ includes information about the route **legs** defined as the parts of\
          \ the route between two consecutive waypoints.\n * `LEGS_POLYLINE`\n   \
          \ Response includes the **polyline** of each of the **legs** in the format\
          \ specified by **options[polylineFormat]**. _LEGS_ will automatically be\
          \ included.\n * `ALTERNATIVE_ROUTES`\n    Response includes up to three\
          \ alternatives in addition to the optimal route. \n    Not supported, if\
          \ more than two on-road or off-road waypoints are specified or if **options[routingMode]=MONETARY**\
          \ is specified.\n    Please note that the additional calculations will degrade\
          \ the performance.  \n * `GUIDED_NAVIGATION`\n    Response includes the\
          \ guided navigation information for the [PTV Navigator](https://www.myptv.com/en/logistics-software/ptv-navigator).\
          \  \n    See [here](./concepts/guided-navigation) for more information.\n\
          \ * `MONETARY_COSTS`\n    Response includes a report with monetary costs\
          \ for the route. See [here](./concepts/monetary-costs) for more information.\n\
          \n**Toll-related results:**\n * `TOLL_COSTS`\n    Response includes the\
          \ toll **costs** of the route.\n * `TOLL_SECTIONS`\n    Response includes\
          \ the list of toll **sections** defined by the toll operators.\n * `TOLL_SYSTEMS`\n\
          \    Response includes the list of toll **systems** defined by the toll\
          \ operators.\n * `TOLL_EVENTS`\n    Response includes **events** when a\
          \ toll road is entered, exited or a toll booth is passed.\n\n**Events:**\n\
          \ * `MANEUVER_EVENTS`\n    Response includes **events** for a **maneuver**\
          \ when the driver has to take an action, e.g. turn left or right.\n * `BORDER_EVENTS`\n\
          \    Response includes **events** when a **border** of a country or subdivision\
          \ is crossed by the route.\n * `VIOLATION_EVENTS`\n    Response includes\
          \ **events** when the route contains a **violation**, e.g. entering or exiting\
          \ an area where passing with the current vehicle is prohibited.\n * `VIOLATION_EVENTS_POLYLINE`\n\
          \    The response contains the **polyline** of each route violation. _VIOLATION_EVENTS_\
          \ will automatically be included.\n * `WAYPOINT_EVENTS`\n    Response includes\
          \ **events** when a **waypoint** is reached by the route.\n * `UTC_OFFSET_CHANGE_EVENTS`\n\
          \    Response includes **events** when the offset to UTC changes (**utcOffsetChange**).\n\
          \ * `COMBINED_TRANSPORT_EVENTS`\n    Response includes **events** when a\
          \ combined transport is entered or exited.\n * `TRAFFIC_EVENTS`\n    Response\
          \ includes **events** when a traffic incident such as a traffic jam is reached\
          \ by the route.\n * `TRAFFIC_EVENTS_POLYLINE`\n    The response contains\
          \ the **polyline** of each traffic event. _TRAFFIC_EVENTS_ will automatically\
          \ be included.\n * `LOW_EMISSION_ZONE_EVENTS` \n    Response includes **events**\
          \ when a low-emission zone is entered or exited by the route.\n * `DELIVERY_ONLY_EVENTS`\
          \ \n    Response includes **events** when a road prohibited except for delivery\
          \ vehicles is entered or exited by the route.\n * `DELIVERY_ONLY_EVENTS_POLYLINE`\n\
          \    The response contains the **polyline** of each delivery-only event.\
          \ _DELIVERY_ONLY_EVENTS_ will automatically be included.\n\n**Emission-related\
          \ results:**\n\nThese results are superseded by the parameter **emissionOptions**.\
          \ \nIf **emissionOptions** is specified the emission-related results will\
          \ be ignored.\n * `EMISSIONS_EN16258_2012`\n    Response includes information\
          \ on **emissions** (**EN16258_2012**) calculated according to EN16258 from\
          \ 2012 (a.k.a. CEN) based on the total fuel consumption for this route.\n\
          \    Only vehicles with **engineType** _COMBUSTION_ and **fuelType** _GASOLINE_,\
          \ _DIESEL_, _COMPRESSED_NATURAL_GAS_ or _LIQUEFIED_PETROLEUM_GAS_ are supported.\n\
          \    For _GASOLINE_ and _DIESEL_, an arbitrary **bioFuelRatio** is supported.\n\
          \    This is a European emission calculation method which should only be\
          \ used with [European profiles](../data-api/concepts/profiles).\n    This\
          \ result is mutually exclusive with **EMISSIONS_EN16258_2012_HBEFA**.\n\
          \ * `EMISSIONS_EN16258_2012_HBEFA`\n    Response includes information on\
          \ **emissions** (**EN16258_2012**) calculated according to EN 16258 from\
          \ 2012 (a.k.a. CEN) based on the total fuel consumption for this route\n\
          \    which is automatically calculated through HBEFA 4.2. The **averageFuelConsumption**\
          \ will be ignored.\n    This is a European emission calculation method which\
          \ should only be used with [European profiles](../data-api/concepts/profiles).\n\
          \    Supported vehicles are the same as those of _EMISSIONS_EN16258_2012_.\n\
          \    This result is mutually exclusive with **EMISSIONS_EN16258_2012**.\n\
          \ * `EMISSIONS_ISO14083_2022`\n    Draft version of ISO 14083:2023. See\
          \ **EMISSIONS_ISO14083_2023** for more information.\n * `EMISSIONS_ISO14083_2022_DEFAULT_CONSUMPTION`\n\
          \    Draft version of ISO 14083:2023. See **EMISSIONS_ISO14083_2023_DEFAULT_CONSUMPTION**\
          \ for more information.\n * `EMISSIONS_ISO14083_2023`\n    Response includes\
          \ information on **emissions** (**ISO14083_2023**) calculated according\
          \ to ISO 14083:2023 (a.k.a. ISO) based on the total fuel and electricity\
          \ consumption for this route.\n    Only supported for [European and American\
          \ profiles](../data-api/concepts/profiles). Emissions are calculated using\
          \ the respective factors.\n    All fuel and electricity types are supported,\
          \ for _GASOLINE_ and _DIESEL_ an arbitrary **bioFuelRatio** is supported.\n\
          \    For **engineType** _HYBRID_ or **engineType** _COMBUSTION_ with **fuelType**\
          \ _CNG_GASOLINE_ or _LPG_GASOLINE_, an arbitrary **hybridRatio** is supported.\n\
          \    This result is mutually exclusive with all other ISO14083 calculations.\n\
          \ * `EMISSIONS_ISO14083_2023_DEFAULT_CONSUMPTION`\n    Response includes\
          \ information on **emissions** (**ISO14083_2023**) calculated according\
          \ to ISO 14083:2023 (a.k.a. ISO) for based on the default fuel and electricity\
          \ consumption for this route\n    which is automatically calculated through\
          \ HBEFA 4.2. The **averageFuelConsumption** and **averageElectricityConsumption**\
          \ will be ignored.\n    Only supported for [European profiles](../data-api/concepts/profiles).\
          \ Emissions are calculated using the European factors.\n    Supported vehicles\
          \ are the same as those of _EMISSIONS_ISO14083_2023_.\n    This result is\
          \ mutually exclusive with all other ISO14083 calculations.\n * `EMISSIONS_FRENCH_CO2E_DECREE_2017_639`\n\
          \    Response includes information on **emissions** (**French_CO2e_Decree_2017_639**)\
          \ calculated according to the French CO2E decree from 2017 based on the\
          \ total fuel consumption for this route.\n    Only vehicles with **engineType**\
          \ _COMBUSTION_ and **fuelType** _GASOLINE_, _DIESEL_, _COMPRESSED_NATURAL_GAS_\
          \ or _LIQUEFIED_PETROLEUM_GAS_ are supported.\n    For _GASOLINE_ a **bioFuelRatio**\
          \ of _0_, _10_ and _85_ is supported, for _DIESEL_ _0_ and _30_.\n    This\
          \ is a European emission calculation method which should only be used with\
          \ [European profiles](../data-api/concepts/profiles).\n\n**Results available\
          \ only in the POST operation:**\n * `SCHEDULE_EVENTS`\n    We recommend\
          \ to additionally request _WAYPOINT_EVENTS_ to assign service and recreation\
          \ events to the waypoint at which they take place, in particular to distinguish\
          \ them when there are several waypoints at the same location.\n    Response\
          \ includes **events** when the driver takes a break or a rest, performs\
          \ service or waits for a waypoint to open (**schedule**).\n * `SCHEDULE_EVENTS_WITH_DRIVING`\n\
          \    Response includes **events** when the driver drives, takes a break\
          \ or a rest, performs service or waits for a waypoint to open (**schedule**).\
          \ _SCHEDULE_EVENTS_ will automatically be included.\n    We recommend to\
          \ additionally request _WAYPOINT_EVENTS_ to assign service and recreation\
          \ events to the waypoint at which they take place, in particular to distinguish\
          \ them when there are several waypoints at the same location.\n * `SCHEDULE_REPORT`\n\
          \    Response includes the **scheduleReport** which provides an overview\
          \ of the times of the schedule of this route including break and rest times.\n\
          \ * `EV_REPORT`\n    Response includes a report with detailed electricity\
          \ consumption for electric vehicles for the route and, if they are requested,\
          \ for legs. This is only available for concrete models of electric vehicles\
          \ but not for general routing profiles (see documentation of **profile**).\
          \ This result is in a preview state, the API is stable, feature changes\
          \ could be introduced in future.\n * `EV_STATUS_EVENTS`\n    Response includes\
          \ events reporting the electricity consumption along the route in more detail.\
          \ This is only available for concrete models of electric vehicles but not\
          \ for general routing profiles (see documentation of **profile**). This\
          \ result is in a preview state, the API is stable, feature changes could\
          \ be introduced in future.\n * `EV_STATUS_EVENTS_POLYLINE`\n    Response\
          \ includes the polyline for each **evStatus**-event since the previous **evStatus**-event.\
          \ _EV_STATUS_EVENTS_ will automatically be included. This is only available\
          \ for concrete models of electric vehicles but not for general routing profiles\
          \ (see documentation of **profile**). This result is in a preview state,\
          \ the API is stable, feature changes could be introduced in future.\n *\
          \ `EV_CHARGE_EVENTS`\n    Response includes events proposing where the battery\
          \ of the electric vehicle should be charged. The charging time is a proposal,\
          \ currently for information only. It is not included in the travel time\
          \ of the route and the start time of subsequent events is not offset by\
          \ it. This is only available for concrete models of electric vehicles but\
          \ not for general routing profiles (see documentation of **profile**). This\
          \ result is in a preview state, the API is stable, feature changes could\
          \ be introduced in future.\n\n_TOLL_COSTS_, _TOLL_SECTIONS_, _TOLL_SYSTEMS_\
          \ and _TOLL_EVENTS_ will be ignored for non-motorized profiles such as _BICYCLE_\
          \ or _PEDESTRIAN_.\nFor electric vehicles and non-motorized profiles such\
          \ as _BICYCLE_ or _PEDESTRIAN_ all emission values will be 0."
        example:
        - POLYLINE
        - TOLL_EVENTS
        explode: false
        in: query
        name: results
        required: false
        schema:
          items:
            $ref: "#/components/schemas/Results"
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RouteRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteResponse"
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Routing
  /routes/{routeId}:
    get:
      description: |-
        Returns the route of a previously calculated route, an alternative route or a route calculated by the Matrix Routing API.
        The response will use the same parameters as the previously calculated route.  If no **results** are specified it will contain all results of the previously calculated route except for _ALTERNATIVE_ROUTES_.  If **results** are specified, the results of the previously calculated route will be ignored, only the specified results will be returned. The result _ALTERNATIVE_ROUTES_ is not allowed to be requested. Emission-related results can be requested only if the previous route was not calculated using **emissionOptions**. Results available only in the POST operation can be requested only if the previous route was calculated using the POST operation. As the response will always contain the requested **routeId**, the result _ROUTE_ID_ will have no effect.
        Although the route itself will be the same, other results might be slightly different such as the travel time or  toll costs. See [here](./concepts/route-ids) for more information.
      operationId: getRouteByRouteId
      parameters:
      - description: The route ID returned from a previous route calculation or alternative
          route.
        explode: false
        in: path
        name: routeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Comma-separated list that defines which results will be returned.\n\
          \n**Main results:**\n * `ROUTE_ID`\n    Response includes the route ID.\
          \ See [here](./concepts/route-ids) for more information.\n * `POLYLINE`\n\
          \    Response includes the complete **polyline** of the entire route in\
          \ the format specified by **options[polylineFormat]**.\n * `LEGS`\n    Response\
          \ includes information about the route **legs** defined as the parts of\
          \ the route between two consecutive waypoints.\n * `LEGS_POLYLINE`\n   \
          \ Response includes the **polyline** of each of the **legs** in the format\
          \ specified by **options[polylineFormat]**. _LEGS_ will automatically be\
          \ included.\n * `ALTERNATIVE_ROUTES`\n    Response includes up to three\
          \ alternatives in addition to the optimal route. \n    Not supported, if\
          \ more than two on-road or off-road waypoints are specified or if **options[routingMode]=MONETARY**\
          \ is specified.\n    Please note that the additional calculations will degrade\
          \ the performance.  \n * `GUIDED_NAVIGATION`\n    Response includes the\
          \ guided navigation information for the [PTV Navigator](https://www.myptv.com/en/logistics-software/ptv-navigator).\
          \  \n    See [here](./concepts/guided-navigation) for more information.\n\
          \ * `MONETARY_COSTS`\n    Response includes a report with monetary costs\
          \ for the route. See [here](./concepts/monetary-costs) for more information.\n\
          \n**Toll-related results:**\n * `TOLL_COSTS`\n    Response includes the\
          \ toll **costs** of the route.\n * `TOLL_SECTIONS`\n    Response includes\
          \ the list of toll **sections** defined by the toll operators.\n * `TOLL_SYSTEMS`\n\
          \    Response includes the list of toll **systems** defined by the toll\
          \ operators.\n * `TOLL_EVENTS`\n    Response includes **events** when a\
          \ toll road is entered, exited or a toll booth is passed.\n\n**Events:**\n\
          \ * `MANEUVER_EVENTS`\n    Response includes **events** for a **maneuver**\
          \ when the driver has to take an action, e.g. turn left or right.\n * `BORDER_EVENTS`\n\
          \    Response includes **events** when a **border** of a country or subdivision\
          \ is crossed by the route.\n * `VIOLATION_EVENTS`\n    Response includes\
          \ **events** when the route contains a **violation**, e.g. entering or exiting\
          \ an area where passing with the current vehicle is prohibited.\n * `VIOLATION_EVENTS_POLYLINE`\n\
          \    The response contains the **polyline** of each route violation. _VIOLATION_EVENTS_\
          \ will automatically be included.\n * `WAYPOINT_EVENTS`\n    Response includes\
          \ **events** when a **waypoint** is reached by the route.\n * `UTC_OFFSET_CHANGE_EVENTS`\n\
          \    Response includes **events** when the offset to UTC changes (**utcOffsetChange**).\n\
          \ * `COMBINED_TRANSPORT_EVENTS`\n    Response includes **events** when a\
          \ combined transport is entered or exited.\n * `TRAFFIC_EVENTS`\n    Response\
          \ includes **events** when a traffic incident such as a traffic jam is reached\
          \ by the route.\n * `TRAFFIC_EVENTS_POLYLINE`\n    The response contains\
          \ the **polyline** of each traffic event. _TRAFFIC_EVENTS_ will automatically\
          \ be included.\n * `LOW_EMISSION_ZONE_EVENTS` \n    Response includes **events**\
          \ when a low-emission zone is entered or exited by the route.\n * `DELIVERY_ONLY_EVENTS`\
          \ \n    Response includes **events** when a road prohibited except for delivery\
          \ vehicles is entered or exited by the route.\n * `DELIVERY_ONLY_EVENTS_POLYLINE`\n\
          \    The response contains the **polyline** of each delivery-only event.\
          \ _DELIVERY_ONLY_EVENTS_ will automatically be included.\n\n**Emission-related\
          \ results:**\n\nThese results are superseded by the parameter **emissionOptions**.\
          \ \nIf **emissionOptions** is specified the emission-related results will\
          \ be ignored.\n * `EMISSIONS_EN16258_2012`\n    Response includes information\
          \ on **emissions** (**EN16258_2012**) calculated according to EN16258 from\
          \ 2012 (a.k.a. CEN) based on the total fuel consumption for this route.\n\
          \    Only vehicles with **engineType** _COMBUSTION_ and **fuelType** _GASOLINE_,\
          \ _DIESEL_, _COMPRESSED_NATURAL_GAS_ or _LIQUEFIED_PETROLEUM_GAS_ are supported.\n\
          \    For _GASOLINE_ and _DIESEL_, an arbitrary **bioFuelRatio** is supported.\n\
          \    This is a European emission calculation method which should only be\
          \ used with [European profiles](../data-api/concepts/profiles).\n    This\
          \ result is mutually exclusive with **EMISSIONS_EN16258_2012_HBEFA**.\n\
          \ * `EMISSIONS_EN16258_2012_HBEFA`\n    Response includes information on\
          \ **emissions** (**EN16258_2012**) calculated according to EN 16258 from\
          \ 2012 (a.k.a. CEN) based on the total fuel consumption for this route\n\
          \    which is automatically calculated through HBEFA 4.2. The **averageFuelConsumption**\
          \ will be ignored.\n    This is a European emission calculation method which\
          \ should only be used with [European profiles](../data-api/concepts/profiles).\n\
          \    Supported vehicles are the same as those of _EMISSIONS_EN16258_2012_.\n\
          \    This result is mutually exclusive with **EMISSIONS_EN16258_2012**.\n\
          \ * `EMISSIONS_ISO14083_2022`\n    Draft version of ISO 14083:2023. See\
          \ **EMISSIONS_ISO14083_2023** for more information.\n * `EMISSIONS_ISO14083_2022_DEFAULT_CONSUMPTION`\n\
          \    Draft version of ISO 14083:2023. See **EMISSIONS_ISO14083_2023_DEFAULT_CONSUMPTION**\
          \ for more information.\n * `EMISSIONS_ISO14083_2023`\n    Response includes\
          \ information on **emissions** (**ISO14083_2023**) calculated according\
          \ to ISO 14083:2023 (a.k.a. ISO) based on the total fuel and electricity\
          \ consumption for this route.\n    Only supported for [European and American\
          \ profiles](../data-api/concepts/profiles). Emissions are calculated using\
          \ the respective factors.\n    All fuel and electricity types are supported,\
          \ for _GASOLINE_ and _DIESEL_ an arbitrary **bioFuelRatio** is supported.\n\
          \    For **engineType** _HYBRID_ or **engineType** _COMBUSTION_ with **fuelType**\
          \ _CNG_GASOLINE_ or _LPG_GASOLINE_, an arbitrary **hybridRatio** is supported.\n\
          \    This result is mutually exclusive with all other ISO14083 calculations.\n\
          \ * `EMISSIONS_ISO14083_2023_DEFAULT_CONSUMPTION`\n    Response includes\
          \ information on **emissions** (**ISO14083_2023**) calculated according\
          \ to ISO 14083:2023 (a.k.a. ISO) for based on the default fuel and electricity\
          \ consumption for this route\n    which is automatically calculated through\
          \ HBEFA 4.2. The **averageFuelConsumption** and **averageElectricityConsumption**\
          \ will be ignored.\n    Only supported for [European profiles](../data-api/concepts/profiles).\
          \ Emissions are calculated using the European factors.\n    Supported vehicles\
          \ are the same as those of _EMISSIONS_ISO14083_2023_.\n    This result is\
          \ mutually exclusive with all other ISO14083 calculations.\n * `EMISSIONS_FRENCH_CO2E_DECREE_2017_639`\n\
          \    Response includes information on **emissions** (**French_CO2e_Decree_2017_639**)\
          \ calculated according to the French CO2E decree from 2017 based on the\
          \ total fuel consumption for this route.\n    Only vehicles with **engineType**\
          \ _COMBUSTION_ and **fuelType** _GASOLINE_, _DIESEL_, _COMPRESSED_NATURAL_GAS_\
          \ or _LIQUEFIED_PETROLEUM_GAS_ are supported.\n    For _GASOLINE_ a **bioFuelRatio**\
          \ of _0_, _10_ and _85_ is supported, for _DIESEL_ _0_ and _30_.\n    This\
          \ is a European emission calculation method which should only be used with\
          \ [European profiles](../data-api/concepts/profiles).\n\n**Results available\
          \ only in the POST operation:**\n * `SCHEDULE_EVENTS`\n    We recommend\
          \ to additionally request _WAYPOINT_EVENTS_ to assign service and recreation\
          \ events to the waypoint at which they take place, in particular to distinguish\
          \ them when there are several waypoints at the same location.\n    Response\
          \ includes **events** when the driver takes a break or a rest, performs\
          \ service or waits for a waypoint to open (**schedule**).\n * `SCHEDULE_EVENTS_WITH_DRIVING`\n\
          \    Response includes **events** when the driver drives, takes a break\
          \ or a rest, performs service or waits for a waypoint to open (**schedule**).\
          \ _SCHEDULE_EVENTS_ will automatically be included.\n    We recommend to\
          \ additionally request _WAYPOINT_EVENTS_ to assign service and recreation\
          \ events to the waypoint at which they take place, in particular to distinguish\
          \ them when there are several waypoints at the same location.\n * `SCHEDULE_REPORT`\n\
          \    Response includes the **scheduleReport** which provides an overview\
          \ of the times of the schedule of this route including break and rest times.\n\
          \ * `EV_REPORT`\n    Response includes a report with detailed electricity\
          \ consumption for electric vehicles for the route and, if they are requested,\
          \ for legs. This is only available for concrete models of electric vehicles\
          \ but not for general routing profiles (see documentation of **profile**).\
          \ This result is in a preview state, the API is stable, feature changes\
          \ could be introduced in future.\n * `EV_STATUS_EVENTS`\n    Response includes\
          \ events reporting the electricity consumption along the route in more detail.\
          \ This is only available for concrete models of electric vehicles but not\
          \ for general routing profiles (see documentation of **profile**). This\
          \ result is in a preview state, the API is stable, feature changes could\
          \ be introduced in future.\n * `EV_STATUS_EVENTS_POLYLINE`\n    Response\
          \ includes the polyline for each **evStatus**-event since the previous **evStatus**-event.\
          \ _EV_STATUS_EVENTS_ will automatically be included. This is only available\
          \ for concrete models of electric vehicles but not for general routing profiles\
          \ (see documentation of **profile**). This result is in a preview state,\
          \ the API is stable, feature changes could be introduced in future.\n *\
          \ `EV_CHARGE_EVENTS`\n    Response includes events proposing where the battery\
          \ of the electric vehicle should be charged. The charging time is a proposal,\
          \ currently for information only. It is not included in the travel time\
          \ of the route and the start time of subsequent events is not offset by\
          \ it. This is only available for concrete models of electric vehicles but\
          \ not for general routing profiles (see documentation of **profile**). This\
          \ result is in a preview state, the API is stable, feature changes could\
          \ be introduced in future.\n\n_TOLL_COSTS_, _TOLL_SECTIONS_, _TOLL_SYSTEMS_\
          \ and _TOLL_EVENTS_ will be ignored for non-motorized profiles such as _BICYCLE_\
          \ or _PEDESTRIAN_.\nFor electric vehicles and non-motorized profiles such\
          \ as _BICYCLE_ or _PEDESTRIAN_ all emission values will be 0."
        example:
        - POLYLINE
        - TOLL_EVENTS
        explode: false
        in: query
        name: results
        required: false
        schema:
          items:
            $ref: "#/components/schemas/Results"
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteResponse"
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Routing
  /eta/{routeId}:
    get:
      description: Calculates the estimated time of arrival (ETA) based on a previously
        calculated route and the position of the vehicle.
      operationId: getEstimatedTimeOfArrival
      parameters:
      - description: |
          The route ID returned from a previous route calculation. See [here](./concepts/route-ids) for more information.

          Make sure to assign unique names to all off-road and on-road waypoints in the request to obtain the route ID.
          Otherwise, the route ID cannot be used for ETA calculation because the waypoints cannot be identified. Furthermore,
          the route ID must not contain route-manipulation waypoints, combined-transport waypoints or vehicle parameters at waypoints
          and must not have been calculated with **options[routingMode]=MONETARY**.
        explode: false
        in: path
        name: routeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: waypoint
        required: false
        schema:
          $ref: "#/components/schemas/PositionAtWaypoint"
        style: deepObject
      - explode: true
        in: query
        name: position
        required: false
        schema:
          $ref: "#/components/schemas/PositionOnRoute"
        style: deepObject
      - description: "Defines the time when the vehicle position was captured formatted\
          \ according to [RFC 3339](https://tools.ietf.org/html/rfc3339).\nIf not\
          \ specified the current time will be used, i.e. the given position of the\
          \ vehicle is its current position.\n\nIf the date-time string does not include\
          \ an explicit offset to UTC, the time will be interpreted as the local time\
          \ of the position of the vehicle.\nThe date must not be before 1970-01-01T00:00:00+00:00\
          \ nor after 2037-12-31T23:59:59+00:00. \nThe response will contain the offset\
          \ to UTC specified in the request, otherwise it will contain the offset\
          \ to UTC of the position of the vehicle.\nFor best results the time should\
          \ be only several minutes in the past or in the future, otherwise live traffic\
          \ will not be considered properly."
        explode: true
        in: query
        name: time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: workLogbook
        required: false
        schema:
          $ref: "#/components/schemas/WorkLogbook"
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EtaResponse"
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Routing
  /reachable-areas:
    get:
      description: "Calculates the areas which can be reached from a waypoint, within\
        \ given horizons (limited to 25 km or 20 minutes). Use the asynchronous POST\
        \ and GET requests for larger horizons or calculation of areas from a route."
      operationId: calculateReachableAreas
      parameters:
      - description: |-
          The start or destination waypoint.
          The format of the waypoint is `<lat>,<lon>[;<attribute>;<attribute>;...]`
          representing a point with the latitude value in degrees from south to north
          and the longitude value in degrees (WGS84/EPSG:4326) from west to east.
          This point will be matched to the nearest possible road.
          By default the air-line connection between given and matched coordinates is not included in the distance or duration.
          We will refer to this type of waypoint as an _on-road waypoint_.

          The behaviour of a waypoint can be changed by appending the following attributes:
            * `includeLastMeters` to include the air-line connection between given and matched coordinates in the distance or duration.
            We will refer to this type of waypoint as an _off-road waypoint_.
            * `roadAccess=<lat>,<lon>`, to use these coordinates for matching to the nearest road. Implies **includeLastMeters**, i.e.
            the air-line connection between the waypoint coordinates and the matched coordinates
            is included in the distance or duration. This is useful if the waypoint should not be matched to the nearest possible road but to some road further away,
            e.g. garage exit at a different road.

          See [here](./concepts/waypoints) for more information.
        example: "49.0133618,8.4277972"
        explode: true
        in: query
        name: waypoint
        required: true
        schema:
          type: string
        style: form
      - description: "A profile defines a vehicle by a set of attributes, matching\
          \ typical transport situations.\nIt must be the name of one of the [predefined\
          \ profiles](../data-api/concepts/profiles) such as _EUR_TRAILER_TRUCK_.\n\
          \nIf this parameter is not specified and the first waypoint or the routeId\
          \ is located in the Americas,\n_USA_8_SEMITRAILER_5AXLE_ is used as the\
          \ default instead of _EUR_TRAILER_TRUCK_.\n\nIf the first waypoint or the\
          \ routeId is located in the Americas but a non-American profile is specified\
          \ or vice-versa, a warning is returned (routing only).\nAlways use a profile\
          \ which matches the region of the waypoints to obtain best results.\n\n\
          If the attributes of the profile do not fit to your vehicle, the values\
          \ can be changed by the corresponding attributes in the **vehicle** parameter\
          \ (routing only). \nThe values of the predefined profiles may be adapted\
          \ to reflect current vehicle standards. To obtain the same results when\
          \ values change, it is recommended to \nalways send with the request the\
          \ **vehicle** parameters that are important for your use case."
        explode: true
        in: query
        name: profile
        required: false
        schema:
          $ref: "#/components/schemas/Profile"
        style: form
      - description: "The distances [m] or travel times [s] of the horizons, depending\
          \ on the **horizonType**. Limited to 5 horizons (or 3 with a **routeId**)."
        explode: false
        in: query
        name: horizons
        required: true
        schema:
          items:
            example: 100
            format: int32
            minimum: 1
            type: integer
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - explode: true
        in: query
        name: horizonType
        required: false
        schema:
          $ref: "#/components/schemas/HorizonType"
        style: form
      - description: |-
          Routing-relevant options like driving direction or the use of additional data.
          Use array notation like `options[trafficMode]=AVERAGE` to set options.
        explode: true
        in: query
        name: options
        required: false
        schema:
          $ref: "#/components/schemas/ReachableOptions"
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReachableAreas"
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Reachable Areas
    post:
      description: "Starts and creates the areas which can be reached from a waypoint\
        \ or from a route, within given horizons. This type of request is recommended\
        \ when the **horizons** parameter is more than 20 minutes or 25 km."
      operationId: startAndCreateReachableAreas
      parameters:
      - description: |-
          The start or destination waypoint.
          The format of the waypoint is `<lat>,<lon>[;<attribute>;<attribute>;...]`
          representing a point with the latitude value in degrees from south to north
          and the longitude value in degrees (WGS84/EPSG:4326) from west to east.
          This point will be matched to the nearest possible road.
          By default the air-line connection between given and matched coordinates is not included in the distance or duration.
          We will refer to this type of waypoint as an _on-road waypoint_.

          The behaviour of a waypoint can be changed by appending the following attributes:
            * `includeLastMeters` to include the air-line connection between given and matched coordinates in the distance or duration.
            We will refer to this type of waypoint as an _off-road waypoint_.
            * `roadAccess=<lat>,<lon>`, to use these coordinates for matching to the nearest road. Implies **includeLastMeters**, i.e.
            the air-line connection between the waypoint coordinates and the matched coordinates
            is included in the distance or duration. This is useful if the waypoint should not be matched to the nearest possible road but to some road further away,
            e.g. garage exit at a different road.

          See [here](./concepts/waypoints) for more information.
        explode: true
        in: query
        name: waypoint
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Instead of the waypoint mentioned above, a **routeId** from a previously calculated route or a matched track can be entered.
          More information and applying restrictions can be found [here](./concepts/route-ids).
        example: 3a58b824-fa8b-47eb-a5b8-73d6b753e1b4
        explode: true
        in: query
        name: routeId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "A profile defines a vehicle by a set of attributes, matching\
          \ typical transport situations.\nIt must be the name of one of the [predefined\
          \ profiles](../data-api/concepts/profiles) such as _EUR_TRAILER_TRUCK_.\n\
          \nIf this parameter is not specified and the first waypoint or the routeId\
          \ is located in the Americas,\n_USA_8_SEMITRAILER_5AXLE_ is used as the\
          \ default instead of _EUR_TRAILER_TRUCK_.\n\nIf the first waypoint or the\
          \ routeId is located in the Americas but a non-American profile is specified\
          \ or vice-versa, a warning is returned (routing only).\nAlways use a profile\
          \ which matches the region of the waypoints to obtain best results.\n\n\
          If the attributes of the profile do not fit to your vehicle, the values\
          \ can be changed by the corresponding attributes in the **vehicle** parameter\
          \ (routing only). \nThe values of the predefined profiles may be adapted\
          \ to reflect current vehicle standards. To obtain the same results when\
          \ values change, it is recommended to \nalways send with the request the\
          \ **vehicle** parameters that are important for your use case."
        explode: true
        in: query
        name: profile
        required: false
        schema:
          $ref: "#/components/schemas/Profile"
        style: form
      - description: "The distances [m] or travel times [s] of the horizons, depending\
          \ on the **horizonType**. Limited to 5 horizons (or 3 with a **routeId**)."
        explode: false
        in: query
        name: horizons
        required: true
        schema:
          items:
            example: 100
            format: int32
            minimum: 1
            type: integer
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - explode: true
        in: query
        name: horizonType
        required: false
        schema:
          $ref: "#/components/schemas/HorizonType"
        style: form
      - description: |-
          Routing-relevant options like driving direction or the use of additional data.
          Use array notation like `options[trafficMode]=AVERAGE` to set options.
        explode: true
        in: query
        name: options
        required: false
        schema:
          $ref: "#/components/schemas/ReachableOptions"
        style: deepObject
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReachableAreasId"
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Reachable Areas
  /reachable-areas/{id}:
    delete:
      description: "Cancels a reachable areas calculation and deletes the calculated\
        \ results specified by its ID. Results already calculated cannot be requested\
        \ by its ID, anymore."
      operationId: deleteReachableAreas
      parameters:
      - description: The ID of the calculated reachable areas.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Reachable Areas
    get:
      description: Gets the results of a reachable areas calculation specified by
        its ID.
      operationId: getReachableAreas
      parameters:
      - description: The ID of the calculated reachable areas.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |
          If the calculation is still running, this operation will be blocked and will not return before this period [ms] expires. If the calculation is completed, it will return immediately.

          The default of 0 ms will cause the operation to return immediately in any case. Use a value > 0 to implement long polling to reduce the number of requests. See the [tutorial](https://developer.myptv.com/en/resources/tutorials/general/how-use-asynchronous-requests-ptv-developer-apis) on asynchronous requests for details.
        explode: true
        in: query
        name: maximumPollingPeriod
        required: false
        schema:
          default: 0
          format: int32
          maximum: 50000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReachableAreasResponse"
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Reachable Areas
  /reachable-locations:
    post:
      description: Starts the calculation of the sets of reachable and unreachable
        locations from the given ones and creates them as the result.
      operationId: startAndCreateReachableLocations
      parameters:
      - description: |-
          The start or destination waypoint.
          The format of the waypoint is `<lat>,<lon>[;<attribute>;<attribute>;...]`
          representing a point with the latitude value in degrees from south to north
          and the longitude value in degrees (WGS84/EPSG:4326) from west to east.
          This point will be matched to the nearest possible road.
          By default the air-line connection between given and matched coordinates is not included in the distance or duration.
          We will refer to this type of waypoint as an _on-road waypoint_.

          The behaviour of a waypoint can be changed by appending the following attributes:
            * `includeLastMeters` to include the air-line connection between given and matched coordinates in the distance or duration.
            We will refer to this type of waypoint as an _off-road waypoint_.
            * `roadAccess=<lat>,<lon>`, to use these coordinates for matching to the nearest road. Implies **includeLastMeters**, i.e.
            the air-line connection between the waypoint coordinates and the matched coordinates
            is included in the distance or duration. This is useful if the waypoint should not be matched to the nearest possible road but to some road further away,
            e.g. garage exit at a different road.

          See [here](./concepts/waypoints) for more information.
        explode: true
        in: query
        name: waypoint
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Instead of the waypoint mentioned above, a **routeId** from a previously calculated route or a matched track can be entered.
          More information and applying restrictions can be found [here](./concepts/route-ids).
        example: 3a58b824-fa8b-47eb-a5b8-73d6b753e1b4
        explode: true
        in: query
        name: routeId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "A profile defines a vehicle by a set of attributes, matching\
          \ typical transport situations.\nIt must be the name of one of the [predefined\
          \ profiles](../data-api/concepts/profiles) such as _EUR_TRAILER_TRUCK_.\n\
          \nIf this parameter is not specified and the first waypoint or the routeId\
          \ is located in the Americas,\n_USA_8_SEMITRAILER_5AXLE_ is used as the\
          \ default instead of _EUR_TRAILER_TRUCK_.\n\nIf the first waypoint or the\
          \ routeId is located in the Americas but a non-American profile is specified\
          \ or vice-versa, a warning is returned (routing only).\nAlways use a profile\
          \ which matches the region of the waypoints to obtain best results.\n\n\
          If the attributes of the profile do not fit to your vehicle, the values\
          \ can be changed by the corresponding attributes in the **vehicle** parameter\
          \ (routing only). \nThe values of the predefined profiles may be adapted\
          \ to reflect current vehicle standards. To obtain the same results when\
          \ values change, it is recommended to \nalways send with the request the\
          \ **vehicle** parameters that are important for your use case."
        explode: true
        in: query
        name: profile
        required: false
        schema:
          $ref: "#/components/schemas/Profile"
        style: form
      - description: "The distance [m] or travel time [s] of the horizons, depending\
          \ of the **horizonType** (limited to 100 km or 1 hours)."
        explode: true
        in: query
        name: horizon
        required: true
        schema:
          example: 100
          format: int32
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: horizonType
        required: false
        schema:
          $ref: "#/components/schemas/HorizonType"
        style: form
      - description: |-
          Routing-relevant options like driving direction or the use of additional data.
          Use array notation like `options[trafficMode]=AVERAGE` to set options.
        explode: true
        in: query
        name: options
        required: false
        schema:
          $ref: "#/components/schemas/ReachableOptions"
        style: deepObject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Locations"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReachableLocationsId"
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Reachable Locations
  /reachable-locations/{id}:
    delete:
      description: "Cancels a reachable locations calculation and deletes the calculated\
        \ results specified by its ID. Results already calculated cannot be requested\
        \ by its ID, anymore."
      operationId: deleteReachableLocations
      parameters:
      - description: The ID of the calculated reachable locations.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Reachable Locations
    get:
      description: Gets the results of a reachable locations calculation specified
        by its ID.
      operationId: getReachableLocations
      parameters:
      - description: The ID of the calculated reachable locations.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |
          If the calculation is still running, this operation will be blocked and will not return before this period [ms] expires. If the calculation is completed, it will return immediately.

          The default of 0 ms will cause the operation to return immediately in any case. Use a value > 0 to implement long polling to reduce the number of requests. See the [tutorial](https://developer.myptv.com/en/resources/tutorials/general/how-use-asynchronous-requests-ptv-developer-apis) on asynchronous requests for details.
        explode: true
        in: query
        name: maximumPollingPeriod
        required: false
        schema:
          default: 0
          format: int32
          maximum: 50000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReachableLocationsResponse"
          description: Response on success.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Reachable Locations
components:
  parameters:
    WaypointParameter:
      description: |-
        The start or destination waypoint.
        The format of the waypoint is `<lat>,<lon>[;<attribute>;<attribute>;...]`
        representing a point with the latitude value in degrees from south to north
        and the longitude value in degrees (WGS84/EPSG:4326) from west to east.
        This point will be matched to the nearest possible road.
        By default the air-line connection between given and matched coordinates is not included in the distance or duration.
        We will refer to this type of waypoint as an _on-road waypoint_.

        The behaviour of a waypoint can be changed by appending the following attributes:
          * `includeLastMeters` to include the air-line connection between given and matched coordinates in the distance or duration.
          We will refer to this type of waypoint as an _off-road waypoint_.
          * `roadAccess=<lat>,<lon>`, to use these coordinates for matching to the nearest road. Implies **includeLastMeters**, i.e.
          the air-line connection between the waypoint coordinates and the matched coordinates
          is included in the distance or duration. This is useful if the waypoint should not be matched to the nearest possible road but to some road further away,
          e.g. garage exit at a different road.

        See [here](./concepts/waypoints) for more information.
      explode: true
      in: query
      name: waypoint
      required: false
      schema:
        type: string
      style: form
    RouteIdParameter:
      description: |-
        Instead of the waypoint mentioned above, a **routeId** from a previously calculated route or a matched track can be entered.
        More information and applying restrictions can be found [here](./concepts/route-ids).
      example: 3a58b824-fa8b-47eb-a5b8-73d6b753e1b4
      explode: true
      in: query
      name: routeId
      required: false
      schema:
        format: uuid
        type: string
      style: form
    ReachableAreasIdParameter:
      description: The ID of the calculated reachable areas.
      explode: false
      in: path
      name: id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    ReachableLocationsIdParameter:
      description: The ID of the calculated reachable locations.
      explode: false
      in: path
      name: id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    MaximumPollingPeriodParameter:
      description: |
        If the calculation is still running, this operation will be blocked and will not return before this period [ms] expires. If the calculation is completed, it will return immediately.

        The default of 0 ms will cause the operation to return immediately in any case. Use a value > 0 to implement long polling to reduce the number of requests. See the [tutorial](https://developer.myptv.com/en/resources/tutorials/general/how-use-asynchronous-requests-ptv-developer-apis) on asynchronous requests for details.
      explode: true
      in: query
      name: maximumPollingPeriod
      required: false
      schema:
        default: 0
        format: int32
        maximum: 50000
        minimum: 0
        type: integer
      style: form
    ReachableOptionsParameter:
      description: |-
        Routing-relevant options like driving direction or the use of additional data.
        Use array notation like `options[trafficMode]=AVERAGE` to set options.
      explode: true
      in: query
      name: options
      required: false
      schema:
        $ref: "#/components/schemas/ReachableOptions"
      style: deepObject
    HorizonsParameter:
      description: "The distances [m] or travel times [s] of the horizons, depending\
        \ on the **horizonType**. Limited to 5 horizons (or 3 with a **routeId**)."
      explode: false
      in: query
      name: horizons
      required: true
      schema:
        items:
          example: 100
          format: int32
          minimum: 1
          type: integer
        maxItems: 5
        minItems: 1
        type: array
      style: form
    HorizonTypeParameter:
      explode: true
      in: query
      name: horizonType
      required: false
      schema:
        $ref: "#/components/schemas/HorizonType"
      style: form
    ProfileParameter:
      description: "A profile defines a vehicle by a set of attributes, matching typical\
        \ transport situations.\nIt must be the name of one of the [predefined profiles](../data-api/concepts/profiles)\
        \ such as _EUR_TRAILER_TRUCK_.\n\nIf this parameter is not specified and the\
        \ first waypoint or the routeId is located in the Americas,\n_USA_8_SEMITRAILER_5AXLE_\
        \ is used as the default instead of _EUR_TRAILER_TRUCK_.\n\nIf the first waypoint\
        \ or the routeId is located in the Americas but a non-American profile is\
        \ specified or vice-versa, a warning is returned (routing only).\nAlways use\
        \ a profile which matches the region of the waypoints to obtain best results.\n\
        \nIf the attributes of the profile do not fit to your vehicle, the values\
        \ can be changed by the corresponding attributes in the **vehicle** parameter\
        \ (routing only). \nThe values of the predefined profiles may be adapted to\
        \ reflect current vehicle standards. To obtain the same results when values\
        \ change, it is recommended to \nalways send with the request the **vehicle**\
        \ parameters that are important for your use case."
      explode: true
      in: query
      name: profile
      required: false
      schema:
        $ref: "#/components/schemas/Profile"
      style: form
    ProfileParameterPost:
      description: "A profile defines a vehicle by a set of attributes, matching typical\
        \ transport situations.\nIt must either be the name of one of the [predefined\
        \ profiles](../data-api/concepts/profiles) such as _EUR_TRAILER_TRUCK_ or\
        \ a UUID of a predefined [vehicle model](../data-api/code-samples/vehicle-models)\
        \ from the Data API.\n\nIf this parameter is not specified and the first waypoint\
        \ or the routeId is located in the Americas,\n_USA_8_SEMITRAILER_5AXLE_ is\
        \ used as the default instead of _EUR_TRAILER_TRUCK_.\n\nIf the first waypoint\
        \ or the routeId is located in the Americas but a non-American profile is\
        \ specified or vice-versa, a warning is returned (routing only).\nAlways use\
        \ a profile which matches the region of the waypoints to obtain best results.\n\
        \nIf a model of an electric vehicle is used, the electricity consumption of\
        \ the concrete vehicle model can be calculated.\nSome parameters like **vehicle[engineType]**\
        \ cannot be used with a model of an electric vehicle.\nThose parameters are\
        \ automatically filled as applicable from the selected model. \nPlease refer\
        \ to the [concept](./concepts/model-based-ev-consumption-calculation) to see\
        \ specifically which parameters are not compatible.\nThese vehicle model profiles\
        \ are in a preview state, the API is stable, feature changes could be introduced\
        \ in future.\n\nIf the attributes of the profile do not fit to your vehicle,\
        \ the values can be changed by the corresponding attributes in the **vehicle**\
        \ parameter (routing only). \nThe values of the predefined profiles may be\
        \ adapted to reflect current vehicle standards. To obtain the same results\
        \ when values change, it is recommended to \nalways send with the request\
        \ the **vehicle** parameters that are important for your use case."
      explode: true
      in: query
      name: profile
      required: false
      schema:
        $ref: "#/components/schemas/Profile"
      style: form
    VehicleParameter:
      description: |-
        Physical and legal properties of the vehicle such as its dimensions to override the values of the selected **profile**.

        These parameters will be ignored for non-motorized profiles such as _BICYCLE_ or _PEDESTRIAN_.
        Unsupported parameters such as **electricityType** for combustion vehicles should not be specified in the request.

        Use array notation like `vehicle[emissionStandard]=EURO_5` to set vehicle attributes.
      explode: true
      in: query
      name: vehicle
      required: false
      schema:
        $ref: "#/components/schemas/Vehicle"
      style: deepObject
    DriverParameter:
      description: |-
        Options regarding the drivers' working hours.
        If no driver object with a working hours preset is passed with the request, working hours will be unlimited.
      explode: true
      in: query
      name: driver
      required: false
      schema:
        $ref: "#/components/schemas/Driver"
      style: deepObject
    OptionsParameter:
      description: |-
        Routing-relevant options like date of travel or the use of additional data.
        Use array notation like `options[trafficMode]=AVERAGE` to set options.
      explode: true
      in: query
      name: options
      required: false
      schema:
        $ref: "#/components/schemas/Options"
      style: deepObject
    EmissionOptionsParameter:
      description: "Relevant options to report emissions.\nUse array notation like\
        \ `emissionOptions[calculationMethods]=ISO14083_2023` to set options.\n\n\
        This parameter supersedes emission-related values in **results**. \nIf specified\
        \ the emission-related values in **results** will be ignored."
      explode: true
      in: query
      name: emissionOptions
      required: false
      schema:
        $ref: "#/components/schemas/EmissionOptions"
      style: deepObject
    EvOptionsParameter:
      description: |-
        Relevant options to report the electricity consumption of an electric vehicle along a route when _EV_REPORT_, _EV_STATUS_EVENTS_, _EV_STATUS_EVENTS_POLYLINE_ or _EV_CHARGE_EVENTS_ are requested in the **results**.
        Use array notation like `evOptions[initialStateOfCharge]=100` to set options.

        This parameter is in a preview state, the API is stable, feature changes could be introduced in future.
      explode: true
      in: query
      name: evOptions
      required: false
      schema:
        $ref: "#/components/schemas/EvOptions"
      style: deepObject
    MonetaryOptionsParameter:
      description: |-
        Relevant options to report the monetary costs of a route when _MONETARY_COSTS_ are requested in the **results**.
        Used for monetary cost routing when **options[routingMode]=MONETARY** is set.
        The costs have to be specified in the currency that is set in **options[currency]**.
      explode: true
      in: query
      name: monetaryCostOptions
      required: false
      schema:
        $ref: "#/components/schemas/MonetaryCostOptions"
      style: deepObject
    ResultsParameter:
      description: "Comma-separated list that defines which results will be returned.\n\
        \n**Main results:**\n * `ROUTE_ID`\n    Response includes the route ID. See\
        \ [here](./concepts/route-ids) for more information.\n * `POLYLINE`\n    Response\
        \ includes the complete **polyline** of the entire route in the format specified\
        \ by **options[polylineFormat]**.\n * `LEGS`\n    Response includes information\
        \ about the route **legs** defined as the parts of the route between two consecutive\
        \ waypoints.\n * `LEGS_POLYLINE`\n    Response includes the **polyline** of\
        \ each of the **legs** in the format specified by **options[polylineFormat]**.\
        \ _LEGS_ will automatically be included.\n * `ALTERNATIVE_ROUTES`\n    Response\
        \ includes up to three alternatives in addition to the optimal route. \n \
        \   Not supported, if more than two on-road or off-road waypoints are specified\
        \ or if **options[routingMode]=MONETARY** is specified.\n    Please note that\
        \ the additional calculations will degrade the performance.  \n * `GUIDED_NAVIGATION`\n\
        \    Response includes the guided navigation information for the [PTV Navigator](https://www.myptv.com/en/logistics-software/ptv-navigator).\
        \  \n    See [here](./concepts/guided-navigation) for more information.\n\
        \ * `MONETARY_COSTS`\n    Response includes a report with monetary costs for\
        \ the route. See [here](./concepts/monetary-costs) for more information.\n\
        \n**Toll-related results:**\n * `TOLL_COSTS`\n    Response includes the toll\
        \ **costs** of the route.\n * `TOLL_SECTIONS`\n    Response includes the list\
        \ of toll **sections** defined by the toll operators.\n * `TOLL_SYSTEMS`\n\
        \    Response includes the list of toll **systems** defined by the toll operators.\n\
        \ * `TOLL_EVENTS`\n    Response includes **events** when a toll road is entered,\
        \ exited or a toll booth is passed.\n\n**Events:**\n * `MANEUVER_EVENTS`\n\
        \    Response includes **events** for a **maneuver** when the driver has to\
        \ take an action, e.g. turn left or right.\n * `BORDER_EVENTS`\n    Response\
        \ includes **events** when a **border** of a country or subdivision is crossed\
        \ by the route.\n * `VIOLATION_EVENTS`\n    Response includes **events** when\
        \ the route contains a **violation**, e.g. entering or exiting an area where\
        \ passing with the current vehicle is prohibited.\n * `VIOLATION_EVENTS_POLYLINE`\n\
        \    The response contains the **polyline** of each route violation. _VIOLATION_EVENTS_\
        \ will automatically be included.\n * `WAYPOINT_EVENTS`\n    Response includes\
        \ **events** when a **waypoint** is reached by the route.\n * `UTC_OFFSET_CHANGE_EVENTS`\n\
        \    Response includes **events** when the offset to UTC changes (**utcOffsetChange**).\n\
        \ * `COMBINED_TRANSPORT_EVENTS`\n    Response includes **events** when a combined\
        \ transport is entered or exited.\n * `TRAFFIC_EVENTS`\n    Response includes\
        \ **events** when a traffic incident such as a traffic jam is reached by the\
        \ route.\n * `TRAFFIC_EVENTS_POLYLINE`\n    The response contains the **polyline**\
        \ of each traffic event. _TRAFFIC_EVENTS_ will automatically be included.\n\
        \ * `LOW_EMISSION_ZONE_EVENTS` \n    Response includes **events** when a low-emission\
        \ zone is entered or exited by the route.\n * `DELIVERY_ONLY_EVENTS` \n  \
        \  Response includes **events** when a road prohibited except for delivery\
        \ vehicles is entered or exited by the route.\n * `DELIVERY_ONLY_EVENTS_POLYLINE`\n\
        \    The response contains the **polyline** of each delivery-only event. _DELIVERY_ONLY_EVENTS_\
        \ will automatically be included.\n\n**Emission-related results:**\n\nThese\
        \ results are superseded by the parameter **emissionOptions**. \nIf **emissionOptions**\
        \ is specified the emission-related results will be ignored.\n * `EMISSIONS_EN16258_2012`\n\
        \    Response includes information on **emissions** (**EN16258_2012**) calculated\
        \ according to EN16258 from 2012 (a.k.a. CEN) based on the total fuel consumption\
        \ for this route.\n    Only vehicles with **engineType** _COMBUSTION_ and\
        \ **fuelType** _GASOLINE_, _DIESEL_, _COMPRESSED_NATURAL_GAS_ or _LIQUEFIED_PETROLEUM_GAS_\
        \ are supported.\n    For _GASOLINE_ and _DIESEL_, an arbitrary **bioFuelRatio**\
        \ is supported.\n    This is a European emission calculation method which\
        \ should only be used with [European profiles](../data-api/concepts/profiles).\n\
        \    This result is mutually exclusive with **EMISSIONS_EN16258_2012_HBEFA**.\n\
        \ * `EMISSIONS_EN16258_2012_HBEFA`\n    Response includes information on **emissions**\
        \ (**EN16258_2012**) calculated according to EN 16258 from 2012 (a.k.a. CEN)\
        \ based on the total fuel consumption for this route\n    which is automatically\
        \ calculated through HBEFA 4.2. The **averageFuelConsumption** will be ignored.\n\
        \    This is a European emission calculation method which should only be used\
        \ with [European profiles](../data-api/concepts/profiles).\n    Supported\
        \ vehicles are the same as those of _EMISSIONS_EN16258_2012_.\n    This result\
        \ is mutually exclusive with **EMISSIONS_EN16258_2012**.\n * `EMISSIONS_ISO14083_2022`\n\
        \    Draft version of ISO 14083:2023. See **EMISSIONS_ISO14083_2023** for\
        \ more information.\n * `EMISSIONS_ISO14083_2022_DEFAULT_CONSUMPTION`\n  \
        \  Draft version of ISO 14083:2023. See **EMISSIONS_ISO14083_2023_DEFAULT_CONSUMPTION**\
        \ for more information.\n * `EMISSIONS_ISO14083_2023`\n    Response includes\
        \ information on **emissions** (**ISO14083_2023**) calculated according to\
        \ ISO 14083:2023 (a.k.a. ISO) based on the total fuel and electricity consumption\
        \ for this route.\n    Only supported for [European and American profiles](../data-api/concepts/profiles).\
        \ Emissions are calculated using the respective factors.\n    All fuel and\
        \ electricity types are supported, for _GASOLINE_ and _DIESEL_ an arbitrary\
        \ **bioFuelRatio** is supported.\n    For **engineType** _HYBRID_ or **engineType**\
        \ _COMBUSTION_ with **fuelType** _CNG_GASOLINE_ or _LPG_GASOLINE_, an arbitrary\
        \ **hybridRatio** is supported.\n    This result is mutually exclusive with\
        \ all other ISO14083 calculations.\n * `EMISSIONS_ISO14083_2023_DEFAULT_CONSUMPTION`\n\
        \    Response includes information on **emissions** (**ISO14083_2023**) calculated\
        \ according to ISO 14083:2023 (a.k.a. ISO) for based on the default fuel and\
        \ electricity consumption for this route\n    which is automatically calculated\
        \ through HBEFA 4.2. The **averageFuelConsumption** and **averageElectricityConsumption**\
        \ will be ignored.\n    Only supported for [European profiles](../data-api/concepts/profiles).\
        \ Emissions are calculated using the European factors.\n    Supported vehicles\
        \ are the same as those of _EMISSIONS_ISO14083_2023_.\n    This result is\
        \ mutually exclusive with all other ISO14083 calculations.\n * `EMISSIONS_FRENCH_CO2E_DECREE_2017_639`\n\
        \    Response includes information on **emissions** (**French_CO2e_Decree_2017_639**)\
        \ calculated according to the French CO2E decree from 2017 based on the total\
        \ fuel consumption for this route.\n    Only vehicles with **engineType**\
        \ _COMBUSTION_ and **fuelType** _GASOLINE_, _DIESEL_, _COMPRESSED_NATURAL_GAS_\
        \ or _LIQUEFIED_PETROLEUM_GAS_ are supported.\n    For _GASOLINE_ a **bioFuelRatio**\
        \ of _0_, _10_ and _85_ is supported, for _DIESEL_ _0_ and _30_.\n    This\
        \ is a European emission calculation method which should only be used with\
        \ [European profiles](../data-api/concepts/profiles).\n\n**Results available\
        \ only in the POST operation:**\n * `SCHEDULE_EVENTS`\n    We recommend to\
        \ additionally request _WAYPOINT_EVENTS_ to assign service and recreation\
        \ events to the waypoint at which they take place, in particular to distinguish\
        \ them when there are several waypoints at the same location.\n    Response\
        \ includes **events** when the driver takes a break or a rest, performs service\
        \ or waits for a waypoint to open (**schedule**).\n * `SCHEDULE_EVENTS_WITH_DRIVING`\n\
        \    Response includes **events** when the driver drives, takes a break or\
        \ a rest, performs service or waits for a waypoint to open (**schedule**).\
        \ _SCHEDULE_EVENTS_ will automatically be included.\n    We recommend to additionally\
        \ request _WAYPOINT_EVENTS_ to assign service and recreation events to the\
        \ waypoint at which they take place, in particular to distinguish them when\
        \ there are several waypoints at the same location.\n * `SCHEDULE_REPORT`\n\
        \    Response includes the **scheduleReport** which provides an overview of\
        \ the times of the schedule of this route including break and rest times.\n\
        \ * `EV_REPORT`\n    Response includes a report with detailed electricity\
        \ consumption for electric vehicles for the route and, if they are requested,\
        \ for legs. This is only available for concrete models of electric vehicles\
        \ but not for general routing profiles (see documentation of **profile**).\
        \ This result is in a preview state, the API is stable, feature changes could\
        \ be introduced in future.\n * `EV_STATUS_EVENTS`\n    Response includes events\
        \ reporting the electricity consumption along the route in more detail. This\
        \ is only available for concrete models of electric vehicles but not for general\
        \ routing profiles (see documentation of **profile**). This result is in a\
        \ preview state, the API is stable, feature changes could be introduced in\
        \ future.\n * `EV_STATUS_EVENTS_POLYLINE`\n    Response includes the polyline\
        \ for each **evStatus**-event since the previous **evStatus**-event. _EV_STATUS_EVENTS_\
        \ will automatically be included. This is only available for concrete models\
        \ of electric vehicles but not for general routing profiles (see documentation\
        \ of **profile**). This result is in a preview state, the API is stable, feature\
        \ changes could be introduced in future.\n * `EV_CHARGE_EVENTS`\n    Response\
        \ includes events proposing where the battery of the electric vehicle should\
        \ be charged. The charging time is a proposal, currently for information only.\
        \ It is not included in the travel time of the route and the start time of\
        \ subsequent events is not offset by it. This is only available for concrete\
[...]
